* {
    box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {

    input {
        background-color: #1e293b;
        box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
    }
}

input, select {
    margin: 3px;
}

select {
    background-color: transparent;
}

h1 {
    font-size: inherit;
}

.z-min {
    z-index: -1;
}