* {
    box-sizing: border-box;
}

@media (min-width: 576px) {
    .sm\:converter-input-box {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: auto auto;
        gap: 4px 16px;
        grid-auto-flow: column;
    }
}

select {
    margin: 3px;
}

.text_input {
    /* width: auto; */
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
    border-radius: 6px;
    padding: 12px;
    background-color: transparent;
}

input {
    width: 100%;
    outline: none;
    background-color: transparent;
}

select {
    background-color: transparent;
}

h1 {
    font-size: inherit;
}

.z-min {
    z-index: -1;
}

.min-h-14 {
    min-height: 56px;
}